<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <div id="app">
        <ul v-if="mostrar">
            <li v-for="(show, index) in tvshows" v-bind:key="index">
                <strong>{{show.name}}</strong>({{show.seasons}} Temporadas)
            </li>
        </ul>
        <div v-else>
            No hay datos
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>//
        const app= new Vue({
            el: '#app',
            data: {
                mostrar: true,
                tvshows:[
                    {name: 'Game of Thrones',seasons: 8},
                    {name: 'Breaking Bad',seasons: 5},
                    {name: 'LOST',seasons: 6},
                    {name: 'Battlestar Galactica',seasons: 4}
                ]
            }
        })

    </script>
</body>
</html>